In [2]:
import pandas as pd

In [4]:
data = {
    'Year': ['2022', '2022', '2022', '2023', '2023', '2023'],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q1', 'Q2', 'Q3'],
    'Region': ['Asia', 'Europe', 'Asia', 'Europe', 'Asia', 'Europe'],
    'Product': ['Laptop', 'Laptop', 'Mobile', 'Mobile', 'Laptop', 'Mobile'],
    'Sales': [200, 150, 300, 250, 400, 100]
}

In [ ]:
df =pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
   Year Quarter  Region Product  Sales
0  2022      Q1    Asia  Laptop    200
1  2022      Q2  Europe  Laptop    150
2  2022      Q3    Asia  Mobile    300
3  2023      Q1  Europe  Mobile    250
4  2023      Q2    Asia  Laptop    400
5  2023      Q3  Europe  Mobile    100

In [6]:
slice_df = df[df['Year'] == '2023']
print("\nSlice Operation (Year = 2023):")
print(slice_df)

Slice Operation (Year = 2023):
   Year Quarter  Region Product  Sales
3  2023      Q1  Europe  Mobile    250
4  2023      Q2    Asia  Laptop    400
5  2023      Q3  Europe  Mobile    100

In [7]:
dice_df = df[(df['Year'].isin(['2022', '2023'])) & (df['Region'] == 'Asia')]
print("\nDice Operation (Year in ['2022', '2023'] AND Region = 'Asia'):")
print(dice_df)

Dice Operation (Year in ['2022', '2023'] AND Region = 'Asia'):
   Year Quarter Region Product  Sales
0  2022      Q1   Asia  Laptop    200
2  2022      Q3   Asia  Mobile    300
4  2023      Q2   Asia  Laptop    400

In [8]:
rollup_df = df.groupby('Year')['Sales'].sum().reset_index()
print("\nRoll-up Operation (Sales by Year):")
print(rollup_df)

Roll-up Operation (Sales by Year):
   Year  Sales
0  2022    650
1  2023    750

In [9]:
drilldown_df = df.groupby(['Year', 'Quarter'])['Sales'].sum().reset_index()
print("\nDrill-down Operation (Sales by Year and Quarter):")
print(drilldown_df)

Drill-down Operation (Sales by Year and Quarter):
   Year Quarter  Sales
0  2022      Q1    200
1  2022      Q2    150
2  2022      Q3    300
3  2023      Q1    250
4  2023      Q2    400
5  2023      Q3    100

In [10]:
pivot_df = pd.pivot_table(df, values='Sales', index='Product', columns='Region', aggfunc='sum')
print("\nPivot Operation (Product vs Region):")
print(pivot_df)

Pivot Operation (Product vs Region):
Region   Asia  Europe
Product
Laptop    600     150
Mobile    300     350